{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
{% block content %}
<div class="container mt-3 mb-5">
<h1>New Schema</h1>

    <form method="POST" action="" >
        {% csrf_token %}
        
    
    <div class="row">
    <div class="form-group col-lg-5 m-0">
         {{ form.name|as_crispy_field }}
         {{ form.column_seperator|as_crispy_field }}
         {{ form.string_character|as_crispy_field }}
                            
                        </div>

    <div class="form-group col-lg-5 m-0"> 
                        </div>
    
    <div class="form-group col-lg-2 m-0">
                            <button class="btn btn-primary mt-4" type="submit">Submit</button>
                        </div>                    
  </div>

    <h1 class="mt-5 mb-5">Scheme Columns</h1>
    <div class="form-group fieldGroup">
        <div class="input-group">
            <div class="row form-row spacer" id="playerFrmTableId"> 
                <div class="form-group mr-4 mb-0" style="width:300px;">
                    {{ form.col_name|as_crispy_field }}
                </div>
                <div class="form-group mr-4 mb-0" style="width:300px;" >
                    {{ form.type|as_crispy_field }}
                </div>
                <div class="form-group mr-4 mb-0" style="width:300px;">
                    {{ form.order|as_crispy_field }}
                </div>
                
            </div>
            
        </div>
    </div>
     <a  href="javascript:void(0)" id="add-form" class="btn btn-success addMore" style="margin-left:-15px ;">
        <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Add Column</a>
    </form>

    <!-- copy of input fields group -->
<div class="form-group fieldGroupCopy" style="display: none;">
    <div class="input-group">
        <div class="form-group mr-4 mb-0" style="width:300px;">
            {{ form.col_name2|as_crispy_field }}
        </div>
        <div class="form-group mr-4 mb-0" style="width:300px;" >
            {{ form.type2|as_crispy_field }}
        </div>
        <div class="form-group mr-4 mb-0" style="width:300px;">
            {{ form.order2|as_crispy_field }}
        </div>
        <div class="input-group-addon"> 
            <a href="javascript:void(0)" class="btn btn-danger remove" style="margin-top: 30px;"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</a>
        </div>
    </div>
</div>
    



</div> <br>
<script>
    $(document).ready(function(){
    //group add limit
    var maxGroup = 10;
    
    //add more fields group
    $(".addMore").click(function(){
        if($('body').find('.fieldGroup').length < maxGroup){
            var fieldHTML = '<div class="form-group fieldGroup">'+$(".fieldGroupCopy").html()+'</div>';
            $('body').find('.fieldGroup:last').after(fieldHTML);
        }else{
            alert('Maximum '+maxGroup+' groups are allowed.');
        }
    });
    
    //remove fields group
    $("body").on("click",".remove",function(){ 
        $(this).parents(".fieldGroup").remove();
    });
});
</script>


<!-- <script>
    $("body").on("click",".remove",function(){ 
        $(this).parents(".fieldGroup").remove();
    });
 </script> -->


{% endblock %}